@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #5CDB93;
	color: #05386B;
}

/* header */

header {
	margin-bottom: 3em;
}

.logo {
	width: 200px;
	height: 150px;
	margin: 0;
	padding: 0;
}

.navbar {
	text-align: center;
	border-radius: 25px;
	align-items: center;
	padding: 0 0; 

}

.nav-list li, a {
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}

.nav-list {
	list-style-type: none;
}
.nav-list li, .nav-footer {
	align-items: center;
}

.nav-list li a, .nav-footer li a {
	display: block;
	font-size: 18px;
	transition: all 0.3s ease 0s;
}

.nav-list li a:hover, .nav-footer li a:hover {
	transition: all 0.3s ease 0s;
	color: #EDF5E1;
}


/* Intro */

.intro {
	text-align: center;
	margin-top: 2em;
}


.intro-p {
	font-size: 17px;
	margin: 2em auto;
	width: 40%;
	

}

main h2 {
	font-size: 24px;
	text-align: center;
	margin: 3em auto;
	padding: 1em;
	width: 40%;
	border-bottom: 1px solid #379683;
}


.container {
	background-color: #379683;
	padding-top: 2em;
	border-radius: 25px;
	
	
}


.portfolio {
	margin: 2em 1em;
	text-align: center; 
	

}

.portfolio p, h3 {
	text-align: center;
	padding: 5px 0;
	margin: 5px 0;
}

.portfolio h3 {
	font-size: 22px;
}

.portfolio p {
	margin: auto;
	font-size: 13px;

	
}

.portfolio img {
	width: 250px;
	height: 200px;
}

	


/* Skills */


.s-p {
	align-items: center;
	margin: 0 auto;
	width: 50%;
}



.cont-skills {
	text-align: center;
	margin-top: 2em;
}

.cont-skills img {
	width: 80px;
	height: 70px;
	margin: 2em 1em;

}

/* contact */


.c-p, .contact p {
	text-align:  center;
	margin: 2em auto;
	width: 50%;	

}

.contact img {
	width: 20px;
	height: 20px;
	margin-right: 1em;
}
.contact {
	margin-bottom: 2em;
}

main {
	margin-bottom: 2em;
	border-bottom:  1px solid #379683;
}

.nav-footer li a {
	text-decoration: none;
	font-size: 12px;
}



@media (max-width: 767px) {
	
	/* nav */
	.nav-list li a {
		border: 1px solid #EDF5E1;
		margin: .8em auto;
		width: 50%;
		border-radius: 10px;
	}

	.portfolio {
		width: 90%;
		margin: 2em auto;
	}

	.portfolio img {
		width: 80%;
		height: 80%;
	}

	.portfolio p {
		width: 70%;

	}

	/* footer */

	.nav-footer {
		display: none;
	}


	.logo-footer {
		width: 150px;
		height: 50px;
		float: left;
		margin-left: 1em;
	}

	.a-top {
		display: inline;
		float: right;
		margin: 1em;
	}

	.group:after {
		content: ' ';
		display: table;
		clear: both;

	}
}

@media (min-width: 768px)  {

	body { 
		width: 95%;
		margin: 0 auto;
	}

	/* nav */

	.navbar {
		text-align: center;
	}

	.logo {
		height: 90px;
	}

	.nav-list li {
		display: inline-block;
		margin: 0 1em 2em 0;
	}

	/* intro */

	.profile {
		float: right;
		margin: 0 1em;
	}

	.intro-p {
		float: left;
		margin: 1em;
	}

	/* portfolio */



	.portfolio img {
		width: 100%;
	}

	.portfolio p {
		width: 70%;
	}

	/* footer */

	.logo-footer {
		float: left;
		width: 150px;
		height: 50px;
	}

	.nav-footer {
		text-align: center;
	}

	.a-top {
		display: none;
	}

	.nav-footer li {
		float: right;
		display: inline-block;
		margin: 1em;
	}

	.group:after {
		content: ' ';
		display: table;
		clear: both;
	}
}	
@media (min-width: 768px) and (max-width: 1023px) {
	.p1, .p3, .p5 {
		float: left;
		width: 40%;
		margin-left: 2em;
		}

	.p2, .p4, .p6 {
		float: right;
		width: 40%;
		margin-right: 2em;
		}
}
	
@media (min-width: 1024px) {


body {
	width: 95%;
}

/* Nav */

.logo {
	float: left;
}

.nav-list li {
	float: right;
	display: inline-block;
	padding: 0 20px;
	align-items: center;
	margin-top: 2em;
}

.nav-list li:nth-child(4) {
	padding: 0 0;
}



	
/* portfolio */


	.container {
		max-width: 1150px;
		margin: 0 auto;
		text-align: center;
	}

	.portfolio {

		width: 30%;
		margin: 1em .5em;
		height: 370px;
		float: left;
	}

	.p1, .p4 {
		margin-left: 2em;
	}


	/* footer */

	.nav-footer li a {
	font-size: 12px;
	}

	.a-top {
		display: none;
	}

	.group:after {
		content: ' ';
		display: table;
		clear: both;

	}

}














